body {
  background: #1b1c1d;
}

.ui.segment {
  background: black;
  margin-top: 20px;
}
#map {
  height: 500px;
  width: 100%;
}
.ui.stackable {
  margin-top: 5rem;
  margin: 20px;
}

h1 {
  text-align: center;
  font-size: 80px;
}
h2 {
  text-align: center;
  font-size: 40px;
}
.flight-row:hover,
.hotel-row:hover {
  cursor: pointer;
  background: rgb(197, 197, 197);
}
.chosen-row {
  background: grey;
  border: none;
}
.chosen-table {
  border: none !important;
  border-radius: none;
}
.chosen-data-flight {
  padding: 1rem;
  background: grey;
}
.chosen-data-hotel {
  padding: 1rem;
  background: grey;
}
button {
  border-radius: 0px !important;
}
input::placeholder {
  font-style: italic;
}
.input-style {
  margin: 5px 10px !important;
  background: #1a1b1c !important;
  border: none !important;
  border-bottom: 1px solid white !important;
  color: white !important;
  border-radius: 0px !important;
}
.input-style:focus {
  border: none !important;
  border-bottom: 1px solid #d8ee4c !important;
}
#location-services {
  margin: 4px;
  background: #ffffff40 !important;
}
.title {
  font-family: "Righteous", cursive !important;
  font-size: 64px !important;
  position: relative;
  top: 151px;
  left: -61px;
  text-shadow: 3px 3px black;
}
.title-div {
  margin-top: -125px;
}
.logo-image {
  width: 180px;
  height: 100%;
}

#footer {
  text-align: center;
}

header {
  background-color: black;
  color: white;
  padding: 5px;
  height: 43px;
  padding-left: 20px;
}

#btnSignUp {
  float: right;
}
